body {
	height: 100%;
	overflow: hidden;
}

#tests {
	z-index: 2;
	position: absolute;
	top: 15px;
	left: 15px;
	height: 80%;
	overflow-y: auto;
}

#wall {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	bottom: 235px;
    background-image: url('../images/brickwall.jpg');
    cursor: none;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
}

#c {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#can {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
}

#left {
	position: absolute;
	top: 30px;
	bottom: 30px;
	left: 0;
	width: 30px;
	height: auto;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0);
}

#right {
	position: absolute;
	top: 30px;
	bottom: 30px;
	right: 0;
	width: 30px;
	height: auto;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0);
}

#top {
	position: absolute;
	top: 0;
	left: 30px;
	right: 30px;
	width: auto;
	height: 30px;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0);
}

#bottom {
	position: absolute;
	bottom: 0;
	left: 30px;
	right: 30px;
	width: auto;
	height: 30px;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0);
}

#top_left {
	position: absolute;
	top: 30px;
	top: 0;
	left: 0;
	width: 30px;
	height: 30px;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0);
}

#top_right{
	position: absolute;
	top: 30px;
	top: 0;
	right: 0;
	width: 30px;
	height: 30px;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0);
}

#bottom_left{
	position: absolute;
	bottom: 30px;
	left: 0;
	bottom: 0;
	width: 30px;
	height: 30px;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0);
}

#bottom_right{
	position: absolute;
	bottom: 30px;
	right: 0;
	bottom: 0;
	width: 30px;
	height: 30px;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0);
}

#sidewalk {
	position: absolute;
	bottom: 0;
	right: 0;
	height: 230px;
	width: 100%;
	overflow: hidden;
}

.use3dTransforms#sidewalk {
	-webkit-perspective: 400px;
	-moz-perspective: 400px;
	-ms-perspective: 400px;
	-o-perspective: 400px;
	-webkit-perspective-origin: center 0;
	-moz-perspective-origin: center 0;
	-ms-perspective-origin: center 0;
	-o-perspective-origin: center 0;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
}

#sidewalk-bg {
	position: absolute;
	top: -800px;
	left: -50%;
	width: 200%;
	height: 1600px;
	background-image: url('../images/Pavement04.jpg');
}

.use3dTransforms #sidewalk-bg {
	-webkit-transform: translateZ(-400px) rotateX(60deg);
	-moz-transform: translateZ(-400px) rotateX(60deg);
	-o-transform: translateZ(-400px) rotateX(60deg);
	-ms-transform: translateZ(-400px) rotateX(60deg);
}

#sidewalk-tab {
	position: absolute;
	bottom: -40px;
	height: 40px;
	width: 120px;
	left: 50%;
	margin-left: -60px;
	background-color: #336633;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	cursor: auto;
}

#sidewalk-tab img {
	display: block;
	margin: auto;
	margin-top: 4px;
}

#splitter {
	position: absolute;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	left: 0;
	width: 100%;
	height: 5px;
	bottom: 230px;
	z-index: 1;
	border-style: outset;
	border-width: 2px;
	border-color: #999999;
	background-color: #666666;
	cursor: row-resize;
}

#minimize {
    position: absolute;
    top: 10px;
    right: 10px;
}

#spraycan_mode{
    position: absolute;
    top: 10px;
    right: 200px;
}

#claim_mode{
    position: absolute;
    top: 60px;
    right: 200px;
}

#unclaim_mode{
    position: absolute;
    top: 110px;
    right: 200px;
}

.button {
    border-top: 1px solid #96d1f8;
    background: #65a9d7;
    background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
    background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
    background: -moz-linear-gradient(top, #3e779d, #65a9d7);
    background: -ms-linear-gradient(top, #3e779d, #65a9d7);
    background: -o-linear-gradient(top, #3e779d, #65a9d7);
    padding: 5px 10px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: white;
    font-size: 14px;
	font-family: Georgia, serif;
	text-decoration: none;
	vertical-align: middle;
}

.button:hover {
    border-top-color: #28597a;
    background: #28597a;
    color: #ccc;
}

.button:active {
    border-top-color: #1b435e;
    background: #1b435e;
}

#Loginbutton{
    position: absolute; 
    right: 140px; 
    top: 10px;
}

#sizepicker {
	top: 40px;
	left: 30px;
	height: 100px;
	background: #333333;
}

#sizepicker .ui-slider-handle {
	background: #999999;
	border-radius: 10px;
}

#sizetext{
	position: absolute;
	top: 40px;
	left: 30px;
	font-size: 14pt;
	margin-top: -40px;
	margin-left: -8px;
}

#pos{
	position: absolute;
	top: 40px;
	left: 30px;
	font-size: 12pt;
	margin-top: -20px;
	margin-left: 4px;
}

#neg{
	position: absolute;
	top: 15px;
	left: 30px;
	font-size: 12pt;
	margin-top: 125px;
	margin-left: 4px;
}

#colorpicker {
	position: absolute;
	top: 90px;
	top: 90px;
	left: 80px;
	width: 300px;
	height: 140px;
	margin-top: -70px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
}

#options {
    position: absolute;
    top: 40px;
    right: 10px;
}

#preview{
	position: absolute;
	border: 1px solid;
	top: 50px;
	left: 380px;
	background: white;
}

#previewtext {
	position: absolute;
	top: 50px;
	left: 380px;
	margin-top: -24px;
	width: 60px;
	text-align: center;
	font-size: 14pt;
}

#ad {
	position: absolute;
	top: 30px;
	left: 475px;
}

#chatbox{
    margin:2px;
    height:35px;
    text-align:left;
    resize: none;
    padding:5px;
    background:#fff;
    border:1px solid #000000;
    
    overflow:auto;
}

#Chat {
	position: absolute;
	top: 155px;
    height: 10px;
    width: 100%;
}

#SubmitButton{
	position: absolute;
    height: 12px;
}

#ChatInput{
	position: absolute;
    left: 80px;
    width: 100%;
}