<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf8">
		<title>Infinite Graffiti Wall</title>
		<link rel="stylesheet" href="css/graffiti.css">
		<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
		{% block CSsheet %}
		{% endblock %}
	</head>
	<body>
		{% block TopTest %}
		{% endblock %}
		<input id="token" type="hidden" value="{{ token }}">
		<section id="wall">
			<canvas id="c"><h1>An HTML5 browser is required.</h1></canvas>
			<div id="can">
				<img src="images/spraycan.png">
			</div>
			<div id="left"></div>
			<div id="right"></div>
			<div id="top"></div>
			<div id="bottom"></div>
			<div id="top_left"></div>
			<div id="top_right"></div>
			<div id="bottom_left"></div>
			<div id="bottom_right"></div>
			<div id="sidewalk-tab"><img src="images/kuba_arrow_button_up.png"></div>
		</section>
		<div id="splitter"></div>
		<section class="use3dTransforms" id="sidewalk">
			<div id="sidewalk-bg"></div>
			<div id="minimize"><img src="images/kuba_arrow_button_down.png"></div>
			<div id="sizetext">Size</div>
			<div id="pos">+</div>
			<div id="sizepicker"></div>
			<div id="neg">&ndash;</div>
			<div id="colorpicker"></div>
			<fieldset id="preview">
				<legend>Preview</legend>
				<div id ="previewdraw"></div>
				<input id="previewbutton" type="button" value="preview">
			</fieldset>	
			<a class="button" href="{{login_url}}">{{login_label}}</a>
			<fieldset id="options">
				<legend>Options</legend>
				<input id="use3dTransforms" type="checkbox" checked>
				<label for="use3dTransforms">Use 3D Transforms</label><br>
				<input id="enableSound" type="checkbox" checked>				
				<label for="enableSound">Enable Sound</label>
			</fieldset>
		</section>
		<audio id="spray" preload="auto" loop>
			<source src="audio/spray.mp3" type="audio/mpeg">
			<source src="audio/spray.ogg" type="audio/ogg">
		</audio>
		<script type="text/javascript" src="/_ah/channel/jsapi"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.5.3/modernizr.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
		<script src="js/jquery.mousewheel.min.js"></script>
		<script src="js/jquery.ps-color-picker.js"></script>
		<script src="js/reqAnimFrame.js"></script>
		<script src="js/graffiti.js"></script>
		{% block BottomTest %}
		{% endblock %}
	</body>
</html>
