<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf8">
		<title>Infinite Graffiti Wall</title>
		<link rel="stylesheet" href="css/graffiti.css">
		<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
		{% block CSsheet %}
		{% endblock %}
	</head>
	<body>
		{% block TopTest %}
		{% endblock %}
		<input id="token" type="hidden" value="{{ token }}">
		<section id="wall">
			<canvas id="c"><h1>An HTML5 browser is required.</h1></canvas>
			<div id="can">
				<img src="images/spraycan.png">
			</div>
			<div id="left"></div>
			<div id="right"></div>
			<div id="top"></div>
			<div id="bottom"></div>
			<div id="top_left"></div>
			<div id="top_right"></div>
			<div id="bottom_left"></div>
			<div id="bottom_right"></div>
			<div id="sidewalk-tab"><img src="images/kuba_arrow_button_up.png"></div>
		</section>
		<div id="splitter"></div>
		<section class="use3dTransforms" id="sidewalk">
			<div id="sidewalk-bg"></div>
			<div id="minimize"><img src="images/kuba_arrow_button_down.png"></div>
			<div id="sizetext">Size</div>
			<div id="pos">+</div>
			<div id="sizepicker"></div>
			<div id="neg">&ndash;</div>
			<div id="colorpicker"></div>
			<div id="previewtext">Preview</div>
			<canvas id="preview" width="60" height="60" ></canvas>
			<a class="button" href="{{login_url}}">{{login_label}}</a>
			<fieldset id="options">
				<legend>Options</legend>
				<input id="use3dTransforms" type="checkbox" checked>
				<label for="use3dTransforms">Use 3D Transforms</label><br>
				<input id="enableSound" type="checkbox" checked>				
				<label for="enableSound">Enable Sound</label>
			</fieldset>
			<div id="ad">
				{% if adnum == 0 %}
				<!-- Begin AffiliateBOT.com Affiliate Code v1.0 -->
				<a href="http://www.affbot3.com/link-23480b5323490b515b4a595053005f02525b510544514845400e5a5b5b04084808565c564b08095450?plan=1237"  ><img src="http://www.affbot3.com/image-1956-28808.jpg" border="0"></a><script language='javascript'>document.write('<img src="http://www.affbot8.com/impression-23480b5323490b515b4a595053005f02525b510544514845400e5a5b5b04084808565c564b08095450.jpg?ref='+escape(document.referrer)+'" width=1 height=1>');</script>
				<!-- End AffiliateBOT.com Affiliate Code v1.0 -->
				{% elif adnum == 1 %}
				<!-- Begin AffiliateBOT.com Affiliate Code v1.0 -->
				<a href="http://www.affbot3.com/link-68185f4e68195f49055e050a030f5f08540651435c5a534f4a5b045a0200575f0b560c5253465d0048?plan=324"  ><img src="http://www.affbot3.com/image-1073-14048.jpg" border="0"></a><script language='javascript'>document.write('<img src="http://www.affbot8.com/impression-68185f4e68195f49055e050a030f5f08540651435c5a534f4a5b045a0200575f0b560c5253465d0048.jpg?ref='+escape(document.referrer)+'" width=1 height=1>');</script>
				<!-- End AffiliateBOT.com Affiliate Code v1.0 -->
				{% elif adnum == 2 %}
				<!-- Begin AffiliateBOT.com Affiliate Code v1.0 -->
				<a href="http://www.affbot1.com/link-b641000fb640000e56570c0c590c0749530c5f5e045c551b124952000855094d000049565f5508540f?plan=611"  ><img src="http://www.affbot1.com/image-1354-29483.jpg" border="0"></a><script language='javascript'>document.write('<img src="http://www.affbot8.com/impression-b641000fb640000e56570c0c590c0749530c5f5e045c551b124952000855094d000049565f5508540f.jpg?ref='+escape(document.referrer)+'" width=1 height=1>');</script>
				<!-- End AffiliateBOT.com Affiliate Code v1.0 -->
				{% elif adnum == 3 %}
				<!-- Begin AffiliateBOT.com Affiliate Code v1.0 -->
				<a href="http://www.affbot3.com/link-b510145ab511145e500901060f0b155e505401520409594e055b45545f0d5f09555d0e06575e594b5f?plan=390"  ><img src="http://www.affbot3.com/image-1135-15288.jpg" border="0"></a><script language='javascript'>document.write('<img src="http://www.affbot7.com/impression-b510145ab511145e500901060f0b155e505401520409594e055b45545f0d5f09555d0e06575e594b5f.jpg?ref='+escape(document.referrer)+'" width=1 height=1>');</script>
				<!-- End AffiliateBOT.com Affiliate Code v1.0 -->
				{% elif adnum == 4 %}
				<!-- Begin AffiliateBOT.com Affiliate Code v1.0 -->
				<a href="http://www.affbot3.com/link-dd1a5705dd1b570308030703510f0d5057055a5e4e460c014b5c40080200470208005e42575d590502?plan=285"  ><img src="http://www.affbot3.com/image-1036-13125.jpg" border="0"></a><script language='javascript'>document.write('<img src="http://www.affbot8.com/impression-dd1a5705dd1b570308030703510f0d5057055a5e4e460c014b5c40080200470208005e42575d590502.jpg?ref='+escape(document.referrer)+'" width=1 height=1>');</script>
				<!-- End AffiliateBOT.com Affiliate Code v1.0 -->
				{% endif %}
			</div>
		</section>
		<audio id="spray" preload="auto" loop>
			<source src="audio/spray.mp3" type="audio/mpeg">
			<source src="audio/spray.ogg" type="audio/ogg">
		</audio>
		<script type="text/javascript" src="/_ah/channel/jsapi"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.5.3/modernizr.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
		<script src="js/jquery.mousewheel.min.js"></script>
		<script src="js/jquery.ps-color-picker.js"></script>
		<script src="js/reqAnimFrame.js"></script>
        <script type="text/javascript">
        var locX = {{ locX }};
        var locY = {{ locY }};
        </script>
		<script src="js/graffiti.js?"></script>
		{% block BottomTest %}
		{% endblock %}
	</body>
</html>
