{% extends 'template.html' %}
{% block CSsheet %}
		<link rel="stylesheet" href="http://code.jquery.com/qunit/qunit-git.css">
{% endblock %}
{% block TopTest %}
	    <h1 id="qunit-header">QUnit</h1>  
	    <h2 id="qunit-banner"></h2>  
	    <h2 id="qunit-userAgent"></h2>  
	    <ol id="qunit-tests">  
	    </ol>  
{% endblock %}
{% block BottomTest %}
		<script src="http://code.jquery.com/qunit/qunit-git.js"></script>
		<script src="js/jquery.simulate.js"></script>
		<script src="js/testgraffiti.js"></script>
{% endblock %}